*{
	font-family: 'Montserrat', sans-serif;
}

.fondo-nav, .fondo-footer{
	background: #3E5C54 !important;
}

.texto-nav, a, i{
	color: #FF7043 !important;

}

a:hover, i:hover{
	color: #00AD80 !important;
}

.texto-brand, .siglas{
	font-weight: bold;
	font-family: 'Rubik Mono One', sans-serif !important;
}

.boton-menu-responsivo{
	background: #FF7043;
}

.active{
	background: rgba(190,202,209,0.1) !important;
}

.separacion-nav{
	padding-top: 94px;
}

.separacion-pie{
	padding-bottom: 35px;
}

.fondo-principal{
	background: #FF7043;
}

.padding-principal{
	padding-left: 100px;
	padding-right: 100px;
}

.seleccionado, .no-seleccionado{
	margin: 5px;
	max-width: 44px !important;
	text-align: center;
	padding: 10px !important;
	border-radius: 22px;
}

.seleccionado{
	background: #00AD80;
	color: white;
}

.no-seleccionado{
	background: white;
	color: grey;
}

.destacar{
	font-weight: bold;
}

.texto-alerta, .destacar{
	font-size: 12px;
}

.texto-footer{
	color: #00AD80 !important;
}

.contenedor-spin{
	margin-top: 25px;
	margin-bottom: 200px;
}

.spiner{
	border-color: #000 !important; 
	stroke: #ffffff !important;
}

.contenido{
	width: 100%;
	height: 450px;
}

.icono-usuario{
	padding-right: 0 !important;
}