*{
	font-family: 'Montserrat', sans-serif;
}

/*
	Grid app
*/

.grid-container{
	height: 100vh;
	display: grid;
	grid-template-rows: 56px 1fr 54px;  
}

/*
	Grid contenido welcome
*/

.grid-container-welcome{
	height: 82vh;
	display: grid;
	grid-template-rows: 50% 1fr;  
}


/*
	Nav 
*/

.fondo-nav{
	background: #3E5C54 !important;
}

a, i{
	color: #FF7043 !important;

}

a:hover, i:hover{
	color: #00AD80 !important;
}

.navbar.navbar-dark .navbar-toggler-icon {
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 112, 67, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.texto-brand{
	font-weight: bold;
	font-family: 'Rubik Mono One', sans-serif !important;
	letter-spacing: 3px;
}

/*
	Contenido welcome
*/

.siglas{
	font-weight: bold;
	font-family: 'Rubik Mono One', sans-serif !important;
	letter-spacing: 3px;	
	margin-bottom: 30px;
}

.texto-info{
	padding-top: 40px;
	padding-bottom: 40px;
}

.texto-blanco{
	color: white;
}

.fondo-principal{
	background: #FF7043 !important;	
}

.boton-obtener{
	margin-top: 7%;
}

/*
	Footer
*/

.fondo-footer{
	background: #3E5C54 !important;	
}

.copy-footer{
	color: #FF7043 !important;	
}

/*
	Media Query
*/

@media (max-width: 768px){
	.texto-descriptor{
		font-size: 14px;
	}

	.grid-container-welcome{
		grid-template-rows: 50% 1fr;  
	}
}

@media (max-width: 576px){
	.texto-descriptor{
		font-size: 12px;
	}

	.grid-container-welcome{
		grid-template-rows: 60% 1fr;  
	}
}

@media (max-height: 600px){
	.texto-descriptor{
		font-size: 14px;
	}

	.grid-container-welcome{
		grid-template-rows: 60% 1fr;  
	}
}