*{
	font-family: 'Montserrat', sans-serif;
}

/*
	Grid app
*/

.grid-container{
	height: 100vh;
	display: grid;
	grid-template-rows: 56px 1fr 54px;  
}

/*
	Grid contenido welcome
*/

.grid-container-welcome{
	height: 82vh;
	display: grid;
	grid-template-rows: 50% 1fr;  
}


/*
	Nav 
*/

.fondo-nav{
	background: #3E5C54 !important;
}

a, i{
	color: #FF7043 !important;

}

a:hover, i:hover{
	color: #00AD80 !important;
}

.navbar.navbar-dark .navbar-toggler-icon {
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 112, 67, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.texto-brand{
	font-weight: bold;
	font-family: 'Rubik Mono One', sans-serif !important;
	letter-spacing: 3px;
}

/*
	Contenido welcome
*/

.siglas{
	font-weight: bold;
	font-family: 'Rubik Mono One', sans-serif !important;
	letter-spacing: 3px;	
}

.texto-info{
	color: white;
	height: 150px;
}

.fondo-principal{
	background: #FF7043 !important;	
}

.centrar-div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.boton-obtener{
	margin-top: 150px;
}

.boton-obtener:hover{
	color: white !important;
}

.descripcion{
	font-size: 1.7rem;
}

.mas-info{
	color: white !important;
}

.mas-info:hover{
	color: #3E5C54 !important;
}

/*
	Footer
*/

.fondo-footer{
	background: #3E5C54 !important;	
}

.copy-footer{
	color: #FF7043 !important;	
}

/*
	Modal info
*/

.siglas-modal{
	color: #FF7043 !important;	
	font-weight: bold;
	font-family: 'Rubik Mono One', sans-serif !important;
	letter-spacing: 3px;
	font-size: 1.7rem;	
}

/*
	Media Query
*/

@media (max-height: 768px){
	.boton-obtener{
		margin-top: 80px;
	}
	.descripcion{
		font-size: 1rem;
	}
}